*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    line-height: 1.15;
}
.Header{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    display: block;
    box-shadow: 0 4px 4px rgb(0 0 0 / 4%);
    background: #fff;
    z-index: 9999;
    
}
.Container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.Header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: auto;
}
.Header__item{
    display: block;
}
.Header__item-Navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.Header__item-text{
    font-size: 12px;
    color: #828282;
    margin: 0 10px 0 -20px;
}
.Header__item-NavItem{
    padding: 0 25px;
    height: auto;
}
.Header__item-NavItem:nth-child(3){
    display: flex;
    align-items: center;
    cursor: default;
    position: relative;
}
.Header__item-NavItem img{
    margin-left: 10px;
    width: 14px;
    height: 14px;
}
.Header__item-NavItem--Text{
    position: relative;
    text-decoration: none;
    color: #000;
    padding: 10px 0;
    background: transparent;
    height: auto;
    width: auto;
}
.Header__item-NavItem:hover .Header__item-NavItem--Text::before{
    transform: scaleX(1);
}
.Header__item-NavItem--Text::before{
    transform: scaleX(0);
    content: "";
    width: 100%;
    height: 2px;
    background:  #ff9500;
    position: absolute;
    bottom:  5px;
    transform-origin: left;
    transition: 0.3s ease;
}
.Header__item-NavItem:nth-child(3):hover .Header__item-DropMenu{
    transform: scaleY(1);
}
.Header__item-DropMenu{
    transform:scaleY(0);
    transform-origin: top;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    position: absolute;
    min-width: 200px;
    top: 100%;
    overflow: hidden;
    left: -3px;
    row-gap: 5px;
    padding: 25px 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 12px rgb(0 0 0 / 5%);
}
.Header__item-DropMenu>a{
    text-decoration: none;
    color: #000;
    padding: 10px 0;
    font-size: 14px;
}
.Header__item-DropMenu>a:hover{
    color: #ff9500;
}
.Header__item-button{
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    background-color: #ff9500;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 600;
}
.Header__item-button:hover{
    background: #e68600;
}
.Header__item-MobileButton{
    display: none;
    position: absolute;
    right: 15px;
}
span{
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    background:#000;
    transition: 0.3s ease;
}
span:nth-child(2){
    top: 0;
}
span:nth-child(3){
    top: 50%;
}
span:nth-child(1){
    bottom: 0;
}
.Banner{
    background:#f7faff url(https://acaziasoftcom.s3.amazonaws.com/assets/images/bg-banner-home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
}
.Banner__container{
    min-height: 760px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}
.Banner__container-item:nth-child(2){
    max-width: 680px;
}
.Banner__container-item:first-child{
    max-width: 520px;
    padding: 0 15px;
}

.Banner__container-item>img{
    position: relative;
    top: 3rem;
    width: 100%;
}
.Banner__container-title{
    font-size: 48px;
    color: #333;
}
.Banner__container-typingTxt{
    list-style: none;
    font-size: 48px;
    color: #ff9500;
    font-weight: 600x;
    line-height: 60px;
    height: 60px;
    width: fit-content;
    overflow: hidden;
}
.Banner__container-typingTxt li{
    display: block;
    font-weight: 600;
    line-height: 60px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    border-right: 4px solid #ff9500;
    animation: slide 12s steps(4) infinite,
    blinking 1s steps(11) infinite ,
    typing 3s steps(12) infinite;
    top: 0;
    overflow: hidden;
}
@keyframes slide {
    100%{   
        top: -240px;
    }
}

@keyframes typing {
    0%{width: 0;}
    50%{width: 100%;}
    100%{width: 0;}
}
@keyframes blinking{
    from {border-right-color: transparent;}
    to {border-right-color: #ff9500;}
  }

.Banner__container-item p{
    margin: 30px 0;
    font-size: 16px;
    color: #828282;
}
.Banner__container-button{
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.Button-default{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px 0;
    padding: 15px 30px;
    text-decoration: none;
    background:#ff9500;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 4%);
    transition: 0.3s ease;
}
.Button-1{
    width: 285px;
    background:#ff9500;
    border-color: #ff9500;
}
.Button-1:hover{
    background:#e68600;
    border-color: #e68600;
}
.Button-2{
    color: #ff9500;
    background:#fff;
    border-color: #fff;
}
.Button-2:hover{
    background: #ff9500;
    color: #fff;
}

.test1{
    transform: scaleX(0);
    transition: 03s ease;
}
.test1:hover{
    transform: scaleX(1);
}
.input.input-2{
    display: none;
}
.input.DropMenu-Input{
    display: none;
    opacity: 0;
}
.Client{
    width: 100%;
    padding: 25px 0;
}
.Client-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.Description{
    background: url(https://acaziasoftcom.s3.amazonaws.com/assets/images/bg-welcome-home.png);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}
.Description__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
h3, h2{
    max-width: 640px;
}
h3{
    color: #ff9500;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}
h2{
    font-size: 36px;
    font-weight: 600;
    margin: 20px auto 30px;
    padding: 0 15px;
    text-align: center;
    color: #333;
}
.Description__container>p{
    color: #828282;
    font-size: 16px;
    padding: 0 15px;
    max-width: 750px;
    text-align: center;
}
.Description-chart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-top: 45px;
}
.Description-chart-item{
    width: 100%;
    max-width: 240px;
    padding: 0 15px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
}
.Description-chart-item>div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
}
.Description-chart-item>h6{
    margin: 30px 0 5px;
    font-size: 40px;
    font-weight: 600;
}
@media (max-width:1200px) {
   .Header__item-button{
        padding: 10px 25px;
        font-size: 14px;
    }
    .Header__item-NavItem{
        padding: 0 15px;
    }
    .Banner__container{
        justify-content: unset;
    }
    .Banner__container-title{
        font-size: 36px;
    }
    .Banner__container-item p{
        font-size: 14px;
    }
    .Banner__container-typingTxt{
        font-size: 36px;
    }
    .Banner__container-buttons{
        display: flex;
        flex-wrap: nowrap;
        line-height: 1.15;
        white-space: nowrap;
    }
    .Button-default{
        font-size: 14px;
        padding: 10px 25px;
    }
    .Button-1{
        width: 260px;
    }
}
@media (max-width:1024px){
    .Container{
        width: 100%;
    }
    .Header{
        position: fixed;
        top: 0;
        padding: 15px 0;
        height: 68px;
        border-bottom: 1px solid #c8c7cc;
        box-shadow: none;
    }
    .Header__container{
        justify-content: flex-end;
        width: 100%;
    }
    .Header__item:nth-child(1){
        margin-right: auto;
    }
    .Header__item:nth-child(3){
        order: 4;   
        right: 0;
        width: 25px;
        height: 17px;
        margin-left: 15px;
    }
    .Header__item:last-child{
        display: flex;
        align-items: center;
        
    }
    .Header__item-text{
        display: none;
    }
    .Header__item-Navbar{
        transform: scaleY(0);
        position: absolute;
        transform-origin: top;
    }
    .Header__item-button{
        font-size: 14px;
        padding: 10px 25px;
    }
    .input{
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        position: relative;
    }
    .input.input-2{
        display: inline-flex;
        position: relative;
        height: 17px;
        width: 25px;
        z-index: 111;
    }
    .input.DropMenu-Input{
        display: inline-flex;
        width: 100%;
        height: 3em;
        z-index: 111;
        position: absolute;
    }
    .Header__item-MobileButton{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 25px;
        height: 17px;
        overflow: hidden;
        cursor: pointer;
    }
    .input:checked~div>span:nth-child(2){
        transform: rotate(45deg);
        transform-origin: left;
        width: 85.5%;
    }
    .input:checked~div>span:nth-child(3){
        transform: translateX(100%);
        opacity: 0;
    }
    .input:checked~div>span:nth-child(1){
        transform: rotate(-45deg);
        width: 85.5%;
        transform-origin: left;
    }
    .input:checked~.Header__item-Navbar{
        transform: scaleY(1);
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        max-width: 1024px;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background: #fff;
        top: 100%;
        left: 0%;
        border-top: 1px solid #c8c7cc;
    }
    .Header__item-NavItem{
        display: inline-flex;
    }
    .Header__item-NavItem{
        padding: 0 15px;
    }
    .Header__item-NavItem--Text{
        padding: 15px 0;
        width: 100%;
    }
    .Header__item-NavItem:nth-child(3){
        justify-content: space-between;

    }
    .Header__item-NavItem:hover .Header__item-NavItem--Text::before{
      transform: scale(0);
    }
    .Header__item-NavItem:nth-child(3):hover .Header__item-DropMenu{
        transform: scale(0);
    }
    .input.DropMenu-Input:checked~.Header__item-NavItem--Text{
        color: #ff9500;
    }
    .input.DropMenu-Input:checked~.Header__item-NavItem--Text::before{
        transform: scale(1);
    }
    .input.DropMenu-Input:checked~.Header__item-DropMenu{
        transform: scale(1);
        width: 100%;
        box-shadow: unset;
        display: flex;
    }
    .input.DropMenu-Input:checked~.Header__item-NavItem{
        transform: translateY(200%);
    }
    .Header__item-DropMenu{
        position: absolute;
        height: auto;
        display: none;
        flex-direction: column;
        padding: 10px 30px;
    }
    .Header__item-NavItem img{
        transform: rotate(-90deg);
        transition: 0.3s ease;
    }
    .input.DropMenu-Input:checked~img{
        transform: rotate(0);
    }
    .Banner__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 68px 0 0;
        padding: 50px 0 0;
    }
    .Banner__container-item:first-child{
        margin-bottom: 15px;
        width: 100%;
    }
    .Banner__container-title{
        font-size: 36px;
        line-height: 45px;
    }
    .Banner__container-typingTxt{
        margin: 0 auto;
        font-size: 36px;
        line-height: 45px;
    }
    .Banner__container-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Banner__container-item>p{
        font-size: 14px;
    }
    .Button-default{
        font-size: 14px;
        padding: 10px 25px;
    }
    .Button-1{
        width: 260px;
    }
    .Banner__container-item:nth-child(2){
        max-width: 600px;
        padding: 0 15px;
        margin-bottom: 15px;
    }
    .Banner__container-item>img{
        transform: translate(0);
        width: 100%;
    }
}
@media (max-width:475px){
    .Container{
        width: 100%;
    }
    .Header__item-button{
        display: none
    }
}
